.ReactTags__tags {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0.5rem;
  background-color: #efefef;
}

.ReactTags__tag {
  display: inline-flex;
  align-items: center;
  background-color: #2563eb; /* Tailwind 'primary' color */
  color: white;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 14px;
}

.ReactTags__remove {
  margin-left: 5px;
  cursor: pointer;
  color: white;
}

.ReactTags__tagInput {
  display: flex;
  flex-grow: 1;
}

.ReactTags__tagInputField {
  border: none;
  background-color: #efefef;
  width: 100%;
  padding: 0.5rem;
  font-size: 14px;
  outline: none;
}
